numpy==1.21.2
pandas==1.4.0
google_auth_oauthlib==0.4.6
feel_it==1.0.3
tqdm==4.51.0
botometer==1.6.1
tweepy==3.10.0
matplotlib==3.4.3
requests==2.27.1
beautifulsoup4==4.11.1
google_api_python_client==2.53.0
protobuf==4.21.2
